$panelColor: #297053; //?
$trimColor: #072a5f; //dark blue

.panelColorText {
  color: $panelColor;
}

.panelColor {
  background-color: $panelColor;
}

.trimBorder {
  border-color: $trimColor;
  border-width: 1px;
  border-style: 1px;
}

.trimColor {
  color: $trimColor;
}

.smallTextShadow {
  text-shadow: 1px 1px 1px #ccc;
}
